
.cuadro{
    margin-left: 10%;
        height: 100%;
        width: 80%;
        background: white;
    margin-top: 2%;
    border-color: black;
    border:1px solid black;
    margin-bottom: 2%;
    }
    .arriba{
    height: 100px;
    width: 100%;
    background: gainsboro;
    
    
    }
    .arriba p{
        font-weight: bolder;
        font-size: 200%;
    }
         .likes h4{
            font-weight: bolder;
            float: left;
            margin-top: 2%;
            margin-left: 1%;
        }